body {
    font-family: Arial;
    text-align: center;
    margin-top: 40px;
  }

  input {
    padding: 10px;
    width: 200px;
  }

  button {
    padding: 10px 15px;
  }

  ul {
    padding: 0;
    width: 300px;
    margin: 20px auto;
  }

  li {
    list-style: none;
    background: #f0f0f0;
    padding: 10px;
    margin-bottom: 8px;
    position: relative;
    cursor: pointer;
    transition: 0.2s;
  }

  li.completed {
    text-decoration: line-through;
    color: gray;
  }

  span {
    position: absolute;
    right: 10px;
    top: 5px;
    color: red;
    font-weight: bold;
    cursor: pointer;
  }